.background{
    height: 100vh;
    /* width: 100vw; */
    background-image: url(../assets/img/backgroundcolored.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 5vh;
    /* margin-top: ; */
    /* opacity: 0.8; */
    background-color: black;
    
    /* padding: 20px; */

}

body {
  /* background-color: #ddd; */
}


.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
  display:block;
  margin-top: 50vh;
  /* background-color: rgba(0, 0, 0, 0.8); */
  color: #ddd;
  width: 50vw;
}

.carousel-item{

  align-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-left: 15vw;
}

/* .button-custom{
  background-color: rgba(187, 47, 46, 1);
  border-radius: 0%;    
} */
.colcss{
  background-color: rgba(187, 47, 46, 1);
  border-color: white;
  /* border: 3px solid #cccbcb; */
  text-align: center;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 25px;
  box-shadow: 5px 10px rgb(51, 49, 49);


}
div.column-hover:hover{

  /* background-color: grey; */
  background-image: url(../assets/img/backtiles.jpg);
}

.icon-size{
  font-size: 36px;
  padding: 10px;
}

/* .column-background{
  background-color: rgba(0, 0, 0, 0.6);
} */

.redline{

  border: 3px solid rgba(187, 47, 46, 1);
  background-color: rgba(187, 47, 46, 1);
  width: 5vw;
}

.split-width{

  width: 47vw;

}

.login,
.image {
  min-height: 50vh;
}

.bg-image {
  background-image: url(../assets/img/box.jpg);
  background-size: cover;
  background-position: center center;
}


/* split container */

/* body {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
} */

.lib-panel {
  margin-bottom: 20Px;
}
.lib-panel img {
  width: 100%;
  background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
  padding: 0;
  background-color: #FFFFFF;
}


.lib-panel .lib-row {
  padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 2px;
  width: 26px;
  background-color: #d9d9d9;
  margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
  position: relative;
  height: 100%;
  display: block;
  font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 20px;
}

.row-margin-bottom {
  margin-bottom: 20px;
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
  padding: 0;
}

