.fakeimg {
    /* height: 50px; */
  }
  
  div.backgroundyellow{
  
    /* background-color: rgba(187, 47, 46, 0.6); */
    background-color: #6610f2;
    
    background-size: contain;
    background-repeat: repeat-x;
    
  
  }
  
  .navbar-toggler-icon {
    background-image: url("../assets/img/hamburger.png");
  }
  
  .rightmargin{
  
    margin-right: 3vw;
  
  
  }
  
  
  
  a:hover{
  
  color: #fafafa;
  
  }
  
  
  a{
  
    margin-right: 2vw;
    padding: 0px;
    color: #cccbcb   ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
    /* float: right !important; */
  
  }
  
  
  nav{
    background-color: rgba(187, 47, 46, 0.8);
    /* background-color: rgba(99, 81, 206, 0.5); */


  }